<!DOCTYPE html>
<html>
  <head>
    <title>StimulusTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="btn btn-link">Home</a>
        <a href="/static_pages/about" class="btn btn-link">About</a>
      </section>
    </header>

    <%= yield %>
  </body>
</html>
